<div class="top-bar-container">
  <div class="top-bar">
    <span class="top-bar-left">
      <a href="https://www.facebook.com/vanwalsemsolutions/" class="fa fa-facebook"></a>
      <a href="https://www.linkedin.com/company/17909711/" class="fa fa-linkedin"></a>
    </span>
    <span class="top-bar-right">
        <i class="fa fa-phone"></i> +31 6 57 33 42 32
        <span class="hide-mobile"><i class="fa fa-map-marker"></i> Lindenlaan 13, Dodewaard (NL)</span>
    </span>
  </div>
</div>
