/*
Theme Name:	 	Van Walsem Solutions
Theme URI:		http://vanwalsemsolutions.nl
Description:	Child theme for GeneratePress
Author:				Van Walsem Solutions
Author URI:	 	http://vanwalsemsolutions.nl
Template:			generatepress
Version:			1.0
*/

.comments-area {
	display: none;
}

#masthead {
	display: none;
}

.inside-article .page-header-image-single, .entry-meta {
	display: none;
}

.header-image {
	padding: 15px 10px 15px 10px !important;
}


@media (min-width: 1200px){
	.header-image {
		padding: 15px 10px 15px 0 !important;
	}
}


.entry-title {
	display: none;
}

.entry-content {
	margin-top: 0;
}

.site-content {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#content {
	padding-top: 0;
	padding-bottom: 0;
}

#footer-widgets button {
	background-color: #f05235 !important;
}

#footer-widgets a {
	color: white !important;
}

.logos img {
	-webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
	vertical-align: middle;
	max-height: 40px !important;
	width: auto !important;
	transition: all 0.2s ease-in-out;

}

.logos img:hover {
			-webkit-filter: brightness(1) invert(0);
		  filter: brightness(1) invert(0);
}

.elementor-post__badge {
	background: #f05235 !important;
}

@media (min-width: 1200px) {
	.dienst-links > div {
		padding-left: 15vw !important;
	}

	.dienst-rechts > div {
		padding-right: 15vw !important;
	}
}
@media (min-width: 1600px) {
	.dienst-links > div {
		padding-left: 20vw !important;
	}

	.dienst-rechts > div {
		padding-right: 20vw !important;
	}
}
/* Unordered list with ticks */
ul.ticks {
	list-style: none;
	margin-left: 0;
}
ul.ticks > li::before {
	content: '✓';'
}
/* Change mobile menu breakpoint*/
@media (max-width: 1100px) {
	.main-navigation .menu-toggle {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}

	.main-navigation.toggled .main-nav > ul {
		display: block;
	}

	.main-navigation .main-nav ul ul {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}

	.main-navigation .main-nav .sf-menu > li {
		float: none;
		clear: both;
		display: block !important;
		text-align: left !important;
	}

	.main-navigation .sub-menu.toggled-on,
	.main-navigation .children.toggled-on {
		display: block !important;
		opacity: 1 !important;
	}

	.main-navigation .dropdown-menu-toggle:before {
		content: "\f107" !important;
	}

	.menu-toggle {
		width: 120px !important;
		float: right !important;
	}

	#menu-mainmenu li {
		height: 45px !important;
	}

	#menu-mainmenu li:last-child {
		padding-bottom: 24px !important;
	}
}

/* Top bar */
.top-bar {
	max-width: 1160px;
	margin: auto;
	height: 40px;
	padding: 0 12px;
}
.top-bar-container {
	background: #222e50;
}

.top-bar-left {
	float: left;
}

.top-bar-right {
	float: right;
	color: white;
	font-size: 14px;
	line-height: 40px;
}

.top-bar a {
	color: white;
	width: 30px;
	font-size: 20px;
	line-height: 40px;
}

.top-bar a:hover {
	color: #f05235;
}

.top-bar .fa-map-marker {
	margin-left: 12px;
}

@media screen and (max-width: 560px) {
	.top-bar {
		height: 30px;
	}

	.top-bar a {
		width: 26px;
		font-size: 18px;
		line-height: 30px;
	}

	.top-bar-right {
		font-size: 13px;
		line-height: 30px;
	}

	span.hide-mobile {
		display: none;
	}
}

/* Testemonials */
.elementor-testimonial-content {
	background: white;
	border-radius: 8px;
	position: relative;
	padding: 8px 8px 0 8px;
}

.elementor-testimonial-content::after {
	width: 12px;
	height: 12px;
	margin: auto;
	padding: 20px;
	background: white;
	transform: rotate(45deg);
	position: relative;
	z-index: 10;
}
